# Compiled Python files
*.pyc

#ignore raw data folder
dataset/dataset_raw/

#ignore data files too big to be pushed on git
diabete_2e.csv
diabete_bb.csv
woman_2e.csv
woman_bb.csv

#ignore ipynb_checkpoints
.ipynb_checkpoints
.ipynb_checkpoints/


