# Compiled Python files
*.pyc

#ignore the log folder
log/
#ignore python scripts in no_git_py folder
no_git_py/
#ignore old version of notebooks, models and datasets
jupyter/old/
global_dt/old
models/old
dataset/old/
dataset/dataset_raw/old/
output/old_output/

#ignore data files too big to be pushed on git
dataset/yeast*
dataset/woman*
dataset/medical*

#ignore ipynb_checkpoints & pycharmfiles
.ipynb_checkpoints
.ipynb_checkpoints/
.idea/





